@using Training.Models
@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="row">
    <div class="col-md-4">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var element in Model.Trainings)
            {
                <tr>
                    <td>@element.Name</td>
                    <td><a href="@Url.Action("Details", new {id = element.Id})" class="btn btn-default">Подробнее</a></td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>